	<input name="part" type="hidden" value="dvbapi">
	<input name="enabled" type="hidden" value="0">
	<input name="au" type="hidden" value="0">
	<input name="ecminfo_file" type="hidden" value="0">
	<input name="write_sdt_prov" type="hidden" value="0">
	<TABLE CLASS="config">
		<TR><TH COLSPAN="2">Edit DVB Api Config</TH></TR>
		<TR><TD><A>Enabled:</A></TD><TD><input name="enabled" type="checkbox" value="1" ##ENABLEDCHECKED##><label></label>
		<TR><TD><A>AU:</A></TD><TD><input name="au" type="checkbox" value="1" ##AUCHECKED##><label></label>
		<TR><TD><A>Write Channel Cache:</A></TD><TD><input name="writechannelcache" type="hidden" value="0"><input name="writechannelcache" type="checkbox" value="1" ##WRITECHANNELCACHE##><label> (disabled permanently for dbox2 & coolstream)</label>
		<TR><TD><A>Boxtype:</A></TD><TD><select name="boxtype">##BOXTYPE##</select></TD></TR>
		<TR><TD><A data-p="user_2">User:</A></TD><TD><input name="user" class="longer" type="text" maxlength="63" value="##USERNAME##"></TD></TR>
		<TR><TD><A>PMT Mode:</A></TD>
			<TD>
				<select name="pmt_mode">
					<option value="0" ##PMTMODESELECTED0##>0 - use camd.socket and PMT file</option>
					<option value="1" ##PMTMODESELECTED1##>1 - disable reading PMT file</option>
					<option value="2" ##PMTMODESELECTED2##>2 - disable camd.socket</option>
					<option value="3" ##PMTMODESELECTED3##>3 - read PMT file on startup only</option>
					<option value="4" ##PMTMODESELECTED4##>4 - do not use signal handler to monitor /tmp</option>
					<option value="5" ##PMTMODESELECTED5##>5 - do not use signal handler to monitor /tmp &amp; disable camd.socket</option>
					<option value="6" ##PMTMODESELECTED6##>6 - use CA PMT server</option>
				</select>
			</TD>
		</TR>
		<TR><TD><A>Request Mode:</A></TD>
			<TD>
				<select name="request_mode">
					<option value="0" ##REQMODESELECTED0##>0 - try all possible CAIDs one by one</option>
					<option value="1" ##REQMODESELECTED1##>1 - try all CAIDs simultaneously</option>
				</select>
			</TD>
		</TR>
		<TR><TD><A>Listen port:</A></TD><TD><input name="listen_port" class="short" type="text" maxlength="5" value="##LISTENPORT##"> TCP port to listen instead of camd.socket</TD></TR>
		<TR><TD><A>Delayer:</A></TD><TD><input name="delayer" class="withunit short" type="text" maxlength="4" value="##DELAYER##"> ms</TD></TR>
		<TR><TD><A>Enable ecm.info file:</A></TD><TD><input name="ecminfo_file" type="checkbox" value="1" ##ECMINFOFILECHECKED##><label></label>
		<TR><TD><A>ecm.info type:</A></TD>
			<TD>
				<select name="ecminfo_type">
					<option value="0" ##ECMINFOTYPESELECTED0##>0 - oscam</option>
					<option value="1" ##ECMINFOTYPESELECTED1##>1 - oscam (ecmtime in ms)</option>
					<option value="2" ##ECMINFOTYPESELECTED2##>2 - wicardd</option>
					<option value="3" ##ECMINFOTYPESELECTED3##>3 - mgcamd</option>
					<option value="4" ##ECMINFOTYPESELECTED4##>4 - cccam</option>
					<option value="5" ##ECMINFOTYPESELECTED5##>5 - camd3</option>
					<option value="6" ##ECMINFOTYPESELECTED6##>6 - gbox</option>
				</select>
			</TD>
		</TR>
		<TR><TD><A>Detect channel name:</A></TD>
			<TD>
				<select name="read_sdt">
					<option value="0" ##READSDTSELECTED0##>0 - off</option>
					<option value="1" ##READSDTSELECTED1##>1 - on (do not save FTA)</option>
					<option value="2" ##READSDTSELECTED2##>2 - on (save FTA)</option>
				</select>
			</TD>
		</TR>
		<TR><TD><A>Write detected prov name to srvid:</A></TD><TD><input name="write_sdt_prov" type="checkbox" value="1" ##WRITESDTPROVCHECKED##><label></label>
		<!-- <TR><TD><A>API for extended CWs</A></TD>
			<TD>
				<select name="extended_cw_api">
					<option value="0" ##EXTENDEDCWAPISELECTED0##>0 - none (disabled)</option>
					<option value="1" ##EXTENDEDCWAPISELECTED1##>1 - OE2.2</option>
					<option value="2" ##EXTENDEDCWAPISELECTED2##>2 - OE2.0</option>
				</select>
			</TD>
		</TR> -->
